In [1]:
import os
# from resspect.fit_lightcurves import LightCurve
import pandas as pd
import numpy as np
np.random.seed(42)
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
import sys
import warnings

if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [3]:
# !ls /media/RESSPECT/data/RESSPECT_PERFECT_SIM_v2/final_full

In [4]:
# path_to_metadata = '/home/sidchaini/resspect_work/plasticc_workdir/data/plasticc_test_metadata.csv'
# path_to_lightcurves = '/home/sidchaini/resspect_work/plasticc_workdir/data/plasticc_test_set_batch1.csv'

path_to_metadata = '/media/RESSPECT/data/RESSPECT_PERFECT_SIM_v2/final_full/RESSPECT_PERFECT_V2_TRAIN_HEADER.DAT'
path_to_lightcurves = '/media/RESSPECT/data/RESSPECT_PERFECT_SIM_v2/final_full/RESSPECT_PERFECT_V2_TRAIN_LIGHTCURVES.DAT'

# path_to_metadata = '/home/sidchaini/resspect_work/plasticc_workdir/data/plasticc_train_metadata.csv'
# path_to_lightcurves = '/home/sidchaini/resspect_work/plasticc_workdir/data/plasticc_train_lightcurves.csv'

In [5]:
df = pd.read_csv(path_to_lightcurves)

In [6]:
df = df.drop("SNR",1)
df = df.rename(columns={
    'objid': 'object_id',
    'MJD': 'mjd',
    'FLT': 'band',
    'FLUXCAL': 'flux',
    'FLUXCALERR': 'flux_err'
})

In [7]:
object_ids = np.unique(df["object_id"].values)

In [8]:
del(df)

In [9]:
metadata = pd.read_csv(path_to_metadata)
metadata = metadata.rename(columns={
    'objid': 'object_id',
    'code': 'true_target'
})

In [10]:
metadata = metadata.set_index("object_id")

In [11]:
metadata = metadata.loc[object_ids]

In [12]:
metadata.true_target.value_counts()

90    3000
42    2689
62    1421
52    1000
67     863
Name: true_target, dtype: int64

In [13]:

obj_class = {
    90: "SNIa", # WD detonation, Type Ia SN
    67: "SNIa-91bg", # Peculiar type Ia: 91bg
    52: "SNIax", # Peculiar SNIax
    42: "SNII", # Core Collapse, Type II SN
    62: "SNIbc", # Core Collapse, Type Ibc SN
#     95: "SLSN-I", # Super-Lum. SN (magnetar)
#     15: "TDE", # Tidal Disruption Event
#     64: "KN", # Kilonova (NS-NS merger)
#     88: "AGN", # Active Galactic Nuclei
#     92: "RRL", # RR lyrae
#     65: "M-dwarf", # M-dwarf stellar flare
#     16: "EB", # Eclipsing Binary stars
#     53: "Mira", # Pulsating variable stars
#      6: "µLens-Single" # µ-lens from cosmic strings
}

In [14]:
ls=[]
for aclass in obj_class.keys():
    ls = ls + list(metadata[metadata["true_target"]==aclass].sample(n=800).index)

ls = np.array(ls)

In [15]:
metadata = metadata.loc[ls]

In [16]:
metadata.true_target.value_counts()

67    800
90    800
62    800
52    800
42    800
Name: true_target, dtype: int64

In [17]:
metadata = metadata.reset_index()

In [18]:
metadata

      object_id  redshift     type  true_target sample
0          5489  0.267295       Ia           90  train
1          3485  0.386717       Ia           90  train
2          5521  0.420196       Ia           90  train
3           807  0.415685       Ia           90  train
4          7516  0.405261       Ia           90  train
...         ...       ...      ...          ...    ...
3995       7878  0.553916  Ibc_V19           62  train
3996       7892  0.674645  Ibc_V19           62  train
3997       7847  0.547778  Ibc_V19           62  train
3998       1912  0.617234  Ibc_V19           62  train
3999       2476  0.410535  Ibc_V19           62  train

[4000 rows x 5 columns]

In [34]:
df = pd.read_csv(path_to_lightcurves)

df = df.drop("SNR",1)
df = df.rename(columns={
    'objid': 'object_id',
    'MJD': 'mjd',
    'FLT': 'band',
    'FLUXCAL': 'flux',
    'FLUXCALERR': 'fluxerr'
})

In [35]:
df = df.loc[df['object_id'].isin(metadata["object_id"].values)].reset_index(drop=True)

In [36]:
# df.to_csv("/home/sidchaini/resspect_work/plasticc_workdir/data/plasticc_test_set_batch1_subset.csv",index=False)
# del(df)

In [37]:
allclasses = metadata["true_target"].replace(obj_class)

In [38]:
df

         object_id      mjd band        flux   fluxerr
0             3228  53000.0    u   -0.097085  0.141841
1             3228  53000.0    g    0.064044  0.142066
2             3228  53000.0    r    0.193542  0.142521
3             3228  53000.0    i    0.359073  0.143101
4             3228  53000.0    z   -0.065577  0.141841
...            ...      ...  ...         ...       ...
2024653       8237  53150.0    g   42.339140  0.249916
2024654       8237  53150.0    r  111.519770  0.362820
2024655       8237  53150.0    i  134.575350  0.393312
2024656       8237  53150.0    z   97.706980  0.343258
2024657       8237  53150.0    Y   27.369501  0.217918

[2024658 rows x 5 columns]

In [39]:
df["detected_bool"]=0

In [40]:
df

         object_id      mjd band        flux   fluxerr  detected_bool
0             3228  53000.0    u   -0.097085  0.141841              0
1             3228  53000.0    g    0.064044  0.142066              0
2             3228  53000.0    r    0.193542  0.142521              0
3             3228  53000.0    i    0.359073  0.143101              0
4             3228  53000.0    z   -0.065577  0.141841              0
...            ...      ...  ...         ...       ...            ...
2024653       8237  53150.0    g   42.339140  0.249916              0
2024654       8237  53150.0    r  111.519770  0.362820              0
2024655       8237  53150.0    i  134.575350  0.393312              0
2024656       8237  53150.0    z   97.706980  0.343258              0
2024657       8237  53150.0    Y   27.369501  0.217918              0

[2024658 rows x 6 columns]

In [41]:
# df.columns = ['object_id', 'mjd', 'band', 'flux', 'fluxerr', 'detected_bool']
# df["band"] = df["band"].replace(banddict)

In [45]:
if not os.path.isdir("csv_data/"):
    os.mkdir("csv_data/")

In [46]:
from tqdm.notebook import tqdm

for i in tqdm(range(len(metadata))):
    snid = metadata['object_id'].iloc[i]
    classname = allclasses.values[i]
    df_sub = df[df["object_id"] == snid][['mjd', 'band', 'flux', 'fluxerr', 'detected_bool']]
    df_sub.to_csv(f"csv_data/{snid}_{classname}.csv",index=False)

  0%|          | 0/4000 [00:00<?, ?it/s]